/* STREET */
.street { background: #fff; overflow: hidden; position: relative; height: 0.6rem; width: 100%; }

.street:after { animation: _street 2s infinite linear; background: #091521; content: ""; display: inline-block; height: 0.6rem; position: absolute; top: 0; width: 4rem; }

/* BB8 */
.bb8 { display: inline-block; }

/* HEAD */
.bb8-head {
  animation: _head 2s infinite linear;
  background: #fff;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border: 0.8rem solid #264252;
  border-bottom: none;
  box-shadow: inset -20px 0 rgba(167, 207, 226, 0.2);
  height: 5rem;
  margin: 0 auto;
  position: relative;
  width: 10rem;
  z-index: 2;
}

.bb8-head:before,
.bb8-head:after { content: ""; display: inline-block; height: 0; position: absolute; bottom: -1.8rem; left: 50%; margin-left: -5rem; }

.bb8-head:before { border-top: 1.8rem solid #264252; border-left: 0.8rem solid transparent; border-right: 0.8rem solid transparent; width: 10rem; }
.bb8-head:after { border-top: 1.2rem solid #e0dfde; border-left: 0.5rem solid transparent; border-right: 0.5rem solid transparent; bottom: -1.2rem; margin-left: -4.2rem; width: 8.4rem; }

/* EYES */
.bb8-head-leftEye { background: #2d5b6b; border: 0.5rem solid #264252; border-radius: 50%; height: 3.8rem; overflow: hidden; position: absolute; left: -0.2rem; top: -0.2rem; width: 3.8rem; }

.bb8-head-leftEye:before,
.bb8-head-leftEye:after { content: ""; display: inline-block; position: absolute; }

.bb8-head-leftEye:before { background: #698d97; border-top-left-radius: 2rem; border-top-right-radius: 2rem; height: 1rem; top: 0.1rem; left: 0.4rem; width: 2rem; }
.bb8-head-leftEye:after { animation: _light 1.2s infinite linear; background: #ac3030; border: 0.6rem solid #2d5b6b; border-radius: 50%; height: 2rem; left: 0.4rem; top: 0.4rem; width: 2rem; }

.bb8-head-rightEye { background: #2d5b6b; border: 0.5rem double #264252; border-radius: 50%; height: 1.8rem; overflow: hidden; position: absolute; left: 3.6rem; top: 2.2rem; width: 1.8rem; }


/* BODY */
.bb8-body {
  animation: _spin 1.2s infinite linear; transform-origin: center center; 
  background: #fff;
  border-radius: 50%;
  border: 0.8rem solid #264252;
  box-shadow: inset 5px 10px rgba(167, 207, 226,0.1), inset -5px -10px rgba(0,0,0,0.1);
  height: 15rem;
  overflow: hidden;
  position: relative;
  width: 15rem;
}

.bb8-body:before,
.bb8-body:after { background: #fff; border: 0.6rem double #cfd5da; border-radius: 50%; content: ""; display: inline-block; height: 0.6rem; position: absolute;  width: 0.6rem; }

.bb8-body:before { left: 5.4rem; top: 2.5rem; }
.bb8-body:after { left: 6.4rem; top: 9rem; }


.bb8-body-circle { background: #ff8d36; border-radius: 50%; border: 0.2rem solid #264252; height: 9rem; position: absolute; width: 9rem; z-index: 2; }

.bb8-body-circle:before {
  background: #f0f0f0;
  border-radius: 50%;
  border: 0.5rem dashed #ff8d36;
  content: "";
  display: inline-block;
  height: 6rem;
  margin-left: -3rem;
  margin-top: -3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
}

.bb8-body-circle:after { background: #264252; content: ""; display: inline-block; height: 0.1rem; position: absolute; width: 6rem; z-index: 1; }

.bb8-body-circle:nth-child(1) { left: -4rem; top: 2rem; }
.bb8-body-circle:nth-child(2) { right: -4rem; top: -1rem; }
.bb8-body-circle:nth-child(3) { right: 0.5rem; bottom: -6.5rem; }

.bb8-body-circle:nth-child(1):after { left: 8.4rem; top: 2rem; transform: rotate(-12deg); }
.bb8-body-circle:nth-child(2):after { right: 4rem; bottom: -2.6rem; transform: rotate(-67deg); }
.bb8-body-circle:nth-child(3):after { left: -1.8rem; bottom: 8.2rem; transform: rotate(45deg); width: 3rem; }

/* ANIMATIONS */
@keyframes _street {
  from { left: -100% }
  to { left: 100%; }
}

@keyframes _spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes _light {
  0% { background: #2d5b6b; }
  20% { background: #ac3030; }
  25% { background: #2d5b6b; }
  30% { background: #ac3030; }
  35% { background: #2d5b6b; }
  50% { background: #ac3030; }
  100% { background: #ac3030; }
}

@keyframes _head {
  0% { left: -2rem; top: 0; transform: rotate(-12deg); }
  30% { left: 0rem; top: 0; transform: rotate(0deg); }
  50% { left: 2rem; top: 0; transform: rotate(12deg); }
  70% { left: -5rem; top: 1rem; transform: rotate(-31deg); }
  100% { left: -2rem; top: 0; transform: rotate(-12deg); }
}